<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AiritiPackages" value="http://192.168.1.47/AiritiPackages/nuget" allowInsecureConnections="true" />
    <add key="LocalNugetServer" value="http://192.168.200.215:58000/v3/index.json" allowInsecureConnections="true" />
  </packageSources>
</configuration>